<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>簡單電商網站</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header" id="header">
        {{>header/navbar}}
    </header>
    {{!-- {{>header/jumbotron}} --}}
    {{{body}}}
    {{> footer/footer}}
    <script>
        const elements = document.querySelectorAll('.commodity');
        console.log('Elements found:', elements);
        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('animate__animated', 'animate__backInUp','animate__slow');
                    entry.target.style.opacity = 1; // 顯示元素
                    observer.unobserve(entry.target); // 動畫觸發後停止觀察
                } else {
                    entry.target.classList.remove('animate__visible');
                }
            });
        }, {
            threshold: 0.1 // 當元素的 10% 進入視窗時觸發
        });

        elements.forEach(element => {
            observer.observe(element);
        });
    </script>
</body>

</html>