<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>簡單電商網站</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/public/js/index.js"></script>
</head>
<body>
    <header class="header" id="header">
        {{>header/navbar}}
    </header>
    {{!-- {{>header/jumbotron}} --}}
    {{{body}}}
    {{> footer/footer}}
</body>
</html>