<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="payment">
    <div class="payment__icon-container">
        <i class="payment__icon fas fa-check-circle"></i>
    </div>
    <h1 class="payment__title">付款完成</h1>
    <p class="payment__thank-you">感謝您的購買！</p>

    <div class="payment__order">
        <h2 class="payment__order-title">訂單詳情</h2>
        <p class="payment__order-detail">訂單編號: #{{date.orderNO}}</p>
        <p class="payment__order-detail">付款金額: ${{date.orderAmounr}}</p>
        <p class="payment__order-detail">付款日期: {{date.orderDate}}</p>
    </div>
</div>