<form id="signup_form" onsubmit="submitForm(); return false;">
    <h2>使用者註冊</h2>
    <label for="username">使用者帳號:</label>
    <input type="text" name="username" required><br>
    <div class="username-error"> </div>
    <label for="passhash">密碼:</label>
    <input type="password" name="passhash" required><br>
    <div class="passhash-error"> </div>
    <label for="first_name">姓氏:</label>
    <input type="text" name="first_name" required><br>
    <label for="last_name">名字:</label>
    <input type="text" name="last_name" required><br>
    <label for="phone">手機號碼:</label>
    <input type="text" name="phone" required><br>
    <label for="email">信箱:</label>
    <input type="email" name="email" required><br>
    <div class="email-error"> </div>
    <label for="address">地址:</label>
    <textarea name="address" rows="1" cols="50" required></textarea><br>
    <button>註冊</button>
</form>


<script>
    function submitForm() {
        const form = document.getElementById('signup_form');
        const username = form.querySelector("input[name='username']").value;
        const passhash = form.querySelector("input[name='passhash']").value;
        const first_name = form.querySelector("input[name='first_name']").value;
        const last_name = form.querySelector("input[name='last_name']").value;
        const phone = form.querySelector("input[name='phone']").value;
        const email = form.querySelector("input[name='email']").value;
        const address = form.querySelector("textarea[name='address']").value;
        const usernameError = document.querySelector(".username-error");
        const passhashError = document.querySelector(".passhash-error");
        const emailError = document.querySelector(".email-error");

        const postData = {
            username: username,
            passhash: passhash,
            first_name: first_name,
            last_name: last_name,
            phone: phone,
            email: email,
            address: address,
        };

        fetch('/signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(postData)
        }).then(response => {
            return response.json();
        }).then(data => {
            var usertext = data.errors && data.errors.username ? data.errors.username : "";
            var passhashtext = data.errors && data.errors.passhash ? data.errors.passhash : "";
            var emailtext = data.errors && data.errors.email ? data.errors.email : "";
            if (!usertext && !passhashtext && !emailtext) {
                window.location.href = '/userPage';
            } else {
                usernameError.textContent = "";
                passhashError.textContent = "";
                emailError.textContent = "";
                usernameError.textContent = data.errors.username;
                passhashError.textContent = data.errors.passhash;
                emailError.textContent = data.errors.email;
            }

        }).catch(error => {
            console.error(error);
        });

    }
</script>