<footer class="footer">
    <div class="footer__container">
        <div class="footer-content-left">
            <div class="footer-iconbox">
                <img src="/images/youtube.png" alt="https://www.youtube.com/" class="footer__icon">
                <img src="/images/instagram.png" alt="https://www.instagram.com/" class="footer__icon">
                <img src="/images/facebook.png" alt="https://www.facebook.com/?locale=zh_TW" class="footer__icon">
            </div>
            <div class="footer-data">
                <p class="footer-data__address">台中市XX區XX路XX號X樓</p>
                <p class="footer-data__number">統一編號:12345678</p>
            </div>
        </div>
        <div class="footer-content-right">
            <a href="#!" class="footer__link">聯絡我們</a>
            <a href="#!" class="footer__link">常見Q&A</a>
            <a href="#!" class="footer__link">服務條款</a>
            <a href="#!" class="footer__link">退換貨說明</a>
        </div>
    </div>
</footer>