<nav class="header-navbar">
    <div class="header__container container">
        {{> header/logo}}
        
        

        <ul id="popup-menu" class="header__commodity-column">
            <li class="header__item">
                <a href="/product/?page=1&limit=8" class="header__link">顯示卡</a>
            </li>
            <li class="header__item">
                <a href="/product/?page=2&limit=8" class="header__link">硬碟</a>
            </li>
            <li class="header__item">
                <a href="/product/?page=3&limit=8" class="header__link">鍵盤/滑鼠</a>
            </li>
            <li class="header__item">
                <a href="/product/?page=4&limit=8" class="header__link">記憶卡</a>
            </li>
            <li class="header__item">
                <a href="/product/?page=5&limit=8" class="header__link">螢幕</a>
            </li>
            <li class="header__item">
                <a href="/product/?page=6&limit=8" class="header__link">主機</a>
            </li>
            <li class="header__item">
                <a href="/cart" class="header__link">購物車</a>
            </li>
            <form class="header__search" method="post" action="/search" novalidate>
                <input type="search" placeholder="搜尋..." class="header__search-box" name="search"
                    aria-placeholder="Search" aria-label="Search">
                <button type="submit" class="header__search-btn">搜尋</button>
            </form>
            <ul class="header__login-box">
                {{!-- {{#if user}}
                <li><a href="/userPage" class="header__userPage-btn">會員中心</a></li>
                <li><a href="/logout" class="header__logout-btn">登出</a></li>
                {{else}}
                <li><a href="/login" class="header__login-btn">登入</a></li>
                <li><a href="/signup" class="header__signup-btn">註冊</a></li>
                {{/if}} --}}
                {{#if user}}
                <li><a href="/userPage" class="header__link">會員中心</a></li>
                <li><a href="/logout" class="header__link">登出</a></li>
                {{else}}
                <li><a href="/login" class="header__link">登入</a></li>
                <li><a href="/signup" class="header__link">註冊</a></li>
                {{/if}}
            </ul>
            <a href="" class="header__close-btn">
                <span></span>
                <span></span>
            </a>
        </ul>
        <a href="#popup-menu" class="menu__toggle">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</nav>